@import "../../styles/variables";
@import "../../styles/mixin";

.ctn {
    @include ctn($concert-bcg-color);
}
.concert {
    gap: 2rem;


    &_title {
        h2 {
            @include title-page($concert-text-color);
        }    
    }
    &_list {
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
    }
} 