.input {
    margin: 1rem;
}

.label {
    font-family: Forum;
    font-size: 1.5rem;
}

.input {
    font-family: Forum;
    text-align: center;
    // background-color: #fff;
    padding: .3rem;
    
}