@import "../../styles/variables";
@import "../../styles/mixin";

.page {
    background-color:$store-bcg-color;
    padding-top: 1rem;
    height: 100vh;
    color: $ligh-text-color;
    font-family: forum;
    text-decoration: none;
    font-size: 2.5rem;
}

.ctn {
    @include ctn($store-bcg-color);
    &_title {
        font-size: 3rem;
        margin-bottom: 4rem;
        text-align: center;
    }
    &_total {
        font-size: 5rem;
        color: red;
        margin-bottom: 4rem;
        text-align: center;
    }
    &_reduc {
        font-size: 1.5rem;
        // margin-bottom: 4rem;
        text-align: center;
    }
}

.button {
    display: flex;
    justify-content: space-around;
    
}

